<fem-toolbar
  (logout)="logout()"
  (toggleSidenav)="toggleSidenav()">
</fem-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="true" mode="side" class="app-sidenav">
    <ng-container>
      <span class="logo">
        <img src="assets/logo.png" alt="Logo" />
      </span>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let link of links"
        >
          <mat-icon matListIcon>{{ link.icon }}</mat-icon>
          {{ link.title | uppercase }}
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <div class="app-container">
    <mat-card *ngFor="let widget of widgets$ | async">
      <mat-card-header>
        <mat-card-title>{{widget.title}}</mat-card-title>
        <mat-card-subtitle>This is a widget.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://media.giphy.com/media/WUTywPPYZpdDChyBaZ/giphy.gif" alt="Learn to Love Coding">
      <mat-card-content>
        <h3>Description</h3>
        <p>{{widget.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Order</button>
        <button mat-button>Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-sidenav-container>
