<mat-card>
  <mat-card-title>
    Widgets
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let widget of widgets"
        class="mat-list-option"
        (click)="selected.emit(widget)">
        <span matLine>{{ widget.title }}</span>
        <button
          *ngIf="!readonly"
          mat-icon-button
          type="button"
          color="warn"
          (click)="deleted.emit(widget); $event.stopImmediatePropagation()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
